body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footerSpace{
  margin-bottom: 92px;
}

header{
  padding: 20px;
}

.whole-map {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.map-side {
  grid-column: 1/2;
}

#map-area {
  grid-column: 2/5;
}

#map-area > div {
  width: 75% !important;
}

.search-box {
  height:65px;
  background-color: #4285F4;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
}

.search-box input {
  height: 70%;
  width: 90%;
  border-radius: 12px;
  border: none;
  padding: 0 10px;
  font-size: 16px;
}

.map-side__details {
  display: grid;
  grid-template-columns: 75% 25%;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 12px 18px;
}

.map-side__details > img {
  width: 100%;
}

.map-side__details > div {
  text-align: left;
}

.map-side__details > div > p {
  margin: 5px 0;
  font-size: 12px;
}

.map-side__details > div > p:nth-of-type(1) {
  font-weight: bold;
  font-size: 16px;
}

.map-side{
  height: 100vh;
  overflow: scroll;
}

#map-area > div{
  height: calc(100%-195px) !important;
}

.signupBtn{
  width: 200px;
  color:white;
  background-color: yellowgreen;
  height: 2.5rem;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid transparent;
  font-size: 16px;
}

.signupBtn:hover{
  background-color: red;
}